
:root {
  --warning-color: #f58327;
  --black-color: #0d0d0d;
  --font-satoshi: "Satoshi", "Satoshi Placeholder", sans-serif;
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* <svg xmlns="http://www.w3.org/2000/svg" width="24" height="40" viewBox="0 0 24 40"><path d="M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z" fill="#171717" fill-rule="evenodd"/></svg> */


body {
  font-family: "Unbounded", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000;
  color: #fff;
}

.f-14 {font-size: 14px;}
.f-12 {font-size: 12px;}
.f-11 {font-size: 11px;}


::placeholder {
  color: rgb(153, 153, 153)!important;
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--font-satoshi);
  
}

.bg-warning {
  background-color: var(--warning-color) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.btn-lg{
  padding: 15px 50px;
}

.outline-btn{
  border: 1px solid rgb(248, 248, 245);
  color: #fff;
  padding: 10px 20px;
  &:hover{
    background-color: var(--warning-color);
    color: var(--black-color);
  }
}

section{
  padding-inline: 40px;
  margin-top: 150px;
  .section-title{
    color: #fff;
    line-height: normal;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1.4px;
    max-width: 500px;
    margin-inline: auto;
  }
  .section-info{
    background: #d4c0c042;
    color: var(--warning-color);
    font-family: var(--font-satoshi);
    font-weight: 600;
  }
}

header {
  .navbar{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0);
  }
  /* .navbar-collapse, .collapsing{
    width:300px;
    position: fixed !important;
    top:0;
    left:-300px;
    height:100%;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
      &.show{
          left:0;
    }
  } */
  .navbar-toggler{
    line{
      color: #fff;
    }
  }
  .container-fluid {
    padding: 10px 40px;
    .navbar-nav {
      border: 1px solid rgba(255, 255, 255, .15);
      padding: 10px;
      .nav-item{
        a{
          &:hover{
            color: var(--warning-color)!important;
          }
        }
      }
    }
    .btn {
      padding: 12px 31px;
      color: var(--black-color);
      &:hover{
        color: #fff;
      }
    }
  }
}

.hero-content{
  max-width: 1050px;
  h1{
    font-size: 62px;
    line-height: 1.2em;
    letter-spacing: -3px;
    font-weight: 400;
  }
  p{
    color: #FFFFFFCC;
    max-width: 850px;
  }
  span{
    transform: rotate(2deg);
    color: #000;
  }
  .voiceImg{
    width: 70px;
    height: 70px;
    img {
      transform: rotate(-16deg);
    }
  }
}

.banner-section{
  margin-top: 50px;
  height: 600px;
  position: relative;
  marquee{
    font-size: 100px;
    top: 40%;
  }
  .bg-shade{
    background: linear-gradient(180deg, rgba(191, 51, 19, 0) 16.353996101364523%, var(--warning-color, rgb(191, 51, 19)) 77.35485380116958%);
    bottom: 0;
    flex: none;
    height: 855px;
    left: calc(50.00000000000002% - 100% / 2);
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  /* background: url('../images/yellow-bg.png') no-repeat center / cover; */
  /* background: rgb(0,0,0); */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(245,131,39,1) 100%); */
  /* box-shadow: 0px -4px 10px rgb(225 120 36); */
}

.service-section{
  .card-group{
    margin-top: 60px;    
    color: #fff;
    .card-detail{
      background-color: #1f1d1d;
      padding: 20px;
      .service-icon{
        background-color: #ffffff0d;
        border-radius: 20px;
        height: 56px;
        width: 56px;
      }
      p{
        opacity: 0.6;
        margin-top: 70px;
        line-height: 1.6em;
        font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
        max-width: 80%;
        font-size: 15px;
      }
      .con-svg{
        svg{width: 36px!important;}
      }
      .icon-link-hover{
        transition: transform 0.3s ease;
        margin-top: auto;
        &:hover{
          svg{
            transform: translateX(4px);
          }
        }
      }
    }
  }
}

.brands-section{
  /* @media screen and (min-width:991px) {
    margin-bottom: 100px;
  } */
  .brand-carousel{
    /* border: 1px solid rgba(255, 255, 255, .15); */
    margin-top: 30px;
    overflow: hidden;
    .brand-box{
      border-radius: 30px;
      background-color: #ffffff1a;
      padding: 14px 28px;
      width: 186px;
      height: 98px;
      img{
        max-height: 71px;
        max-width: 130px;
        object-fit: contain;
      }
    }
  }
  .slick-initialized .slick-slide:not(:last-child){
    margin-right: 10px;
  }
}

.statistics-group{
  img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 750px;
  }
  .overlay{
    background: radial-gradient(45.1% 44.7% at 52.6% 42.8%, #d94c00 0%, rgb(0, 0, 0) 100%);
    bottom: 0;
    height: 100%;
    left: calc(50.00000000000002% - 100% / 2);
    mix-blend-mode: multiply;
    opacity: .91;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .position-absolute{
    padding: 0px 20px 50px;
  }
  .value-box{
    backdrop-filter: blur(10px);
    border: 1px solid var(--warning-color);
    background-color: #1f1d1d;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.05);
    .icon{
      border: 1px solid var(--warning-color);
      border-radius: 20px;
      width: 60px;
      height: 60px;
      svg{
        height: 42px!important;
        width: 42px!important;
      }
    }
    p{
      opacity: 0.6;
      line-height: 1.6em;
      font-family: var(--font-satoshi);
      font-size: 15px;
    }
  }
  .varient{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    .icon{width: 20px;height: 20px;}
    .varient-text{font-family: var(--font-satoshi);}
  }
  .stats-group{
    div:nth-child(odd){
      transform: perspective(1200px) translateY(17.2683px);
    }
    .stats{
      width: 270px;
      height: 270px;
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.1);
      .number{
        font-size: 40px;
        line-height: 40px;
      }
      .info-txt{
        font-family: var(--font-satoshi);
        opacity: 0.6;
      }
    }
  }
}


/* Testimonial start */
  .testimonial{
    overflow-x: hidden;
    overflow-y: hidden;
    .title{
      font-size: 100px;
      opacity: 0.23;
      transform: scale(1.1);
      text-transform: uppercase;
    }

    .testimonial-box{
      max-width: 610px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      background-color: rgba(13, 13, 13, 0.1);
      svg{
        width: 10px;
        fill: var(--warning-color);
        color: var(--warning-color);
      }
      .feedback{
        font-size: 18px;
        opacity: 0.7;
        font-family: var(--font-satoshi);
        line-height: 1.5em;
      }
      .user-info{
        border-top: 1px solid #ffffff52;
        padding-top: 20px;
      }
      h5{
        font-size: 14px;
      }
    }
    .video-container{
      background-color:rgba(255, 255, 255, .1);
      border-radius: 30px;
      padding: 10px;
      margin-top: 30px;
      cursor: pointer;
      img{
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
      }
      h5{font-size: 14px;}
      .youtube-icon{
        width: 68px;
        height: 48px;
      }
      &:hover{
        path:nth-child(1){
          fill: red;
        }
      }
    }
    .bg-shade1{
      background-color: var(--warning-color, #bf3313);
      border-radius: 210px;
      filter: blur(67px);
      flex: none;
      height: 148px;
      left: calc(46.66666666666669% - 589px / 2);
      overflow: hidden;
      position: absolute;
      top: -107px;
      width: 589px;
      will-change: var(--framer-will-change-override, transform);
      z-index: 0;
    }
    .bg-shade{
      background: radial-gradient(69.3% 75% at 50% 100%, var(--warning-color, #bf3313) 0%, rgba(0, 0, 0, 0) 100%);
      transform: rotate(180deg);
      height: 105px;
      position: absolute;
      top: 0;
      width: 330px;
      z-index: 1;
    }
  }
/* 
  .testimonial-slider {
    position: relative;
    overflow: hidden;
    height: 600px; 
  }
  
  .testimonial-slider .testimonial-box {
    animation: slide 10s infinite;
    flex-shrink: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  } */
  
  /* @keyframes slide {
    0% {
      transform: translateY(0);
    }
    33% {
      transform: translateY(-100%);
    }
    66% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(-300%);
    }
  } */
  

/* Testimonial end */

/* Pricing section start */
  .pricing-section{
    .plan-info-box{
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      padding: 30px 20px 20px;
      .plan-info{
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-weight: 400;
        background: #d4c0c042;
        width: fit-content;
      }
      .price-sign{
        font-size: 15px;
      }
      .price{
        font-size: 50px;
        color: var(--warning-color);
      }
      .plan-term, .info-text{
        font-size: 16px;
        font-family:var(--font-satoshi);
      }
      .check-sign{
        width: 16px;
      }
    }
  }
/* Pricing section end */

/* faq start */
  .faq-section{
    overflow: hidden;
    .accordion{
      max-width: 1000px;
      .accordion-item{
        backdrop-filter: blur(5px);
        border: 1px solid rgba(13, 13, 13, 0.1);
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 30px;
        padding: 20px;
        color: #fff;
        .accordion-body{
          max-width: 800px;
          margin: auto;
          color: #fff;
          opacity: 0.7;
          font-family: var(--font-satoshi);
        }
      }
    }
    .accordion-button{
      span:nth-child(1){
        width: calc(100% - 40px);
      }
      &:not(.collapsed) {
        color: #fff;
        background-color: transparent;
        box-shadow: none;
        svg{
          transform: rotate(180deg);
        }
      }
    }
    .accordion-button:focus{
      box-shadow: none;
    }
    .accordian-icon {
      width: 34px;
      height: 34px;
      background-color: var(--warning-color);
      border-radius: 10px;
      display: inline-block;
      svg{
        width: 15px!important;
        height: 15px!important;
      }
    }
      
    .accordion-button::after {
      display: none;
    }
  }
/* faq end */

/* About section start */
  .about-section{
    .user-name{
      font-size: 50px;
      line-height: 46px;
      font-weight: bold;
      span{
        color: var(--warning-color);
      }
    }
    .about-subtitle{
      font-size: 22px;
      font-family: var(--font-satoshi);
      line-height: 1.3em;
      color: rgba(255, 255, 255, 0.5);
    }
    .about-info{
      opacity: 0.6;
      font-family: var(--font-satoshi);
    }
    .varient{
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.1);
      .icon{width: 20px;height: 20px;}
      .varient-text{font-family: var(--font-satoshi);}
    }
    .brand-box{
      width: 193px;
      height: 60px;
      padding: 14px 28px;
      border-radius: 20px;
      background-color: #ffffff1a;
      img{
        height: 32px;
      }
    }
  }
/* About section end */

/* Blog section start */
.blog-section{
  .image{
    height: 400px;
    /* background: linear-gradient(180deg, rgb(13, 13, 13) -6.523058252427185%, rgb(10, 10, 10) 23.816747572815533%, rgba(217, 76, 0, 0) 61%);
    transform: rotate(180deg); */
  }
  .blog-date{
    background-color: rgba(56, 64, 54, .5);
    border: 1px solid rgba(255, 255, 255, .15);
    .icon{
      width: 15px;
      path{
        fill: var(--warning-color);
      }
    }
    span{font-family: var(--font-satoshi);}
  }
  .disc{
    backdrop-filter: blur(63px);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    font-size: 16px;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
  }
  .content{
    
  }
}
/* Blog section end */


/* footer section start */
.footer-section{  
  .form{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    flex: 1 0 0px;
    gap: 15px;
    height: min-content;
    padding: 40px 30px;
    position: relative;
    .form-label{
      color: rgb(136, 136, 136);
      font-family: var(--font-satoshi);
    }
    input, textarea{
      border: 1px solid rgba(136, 136, 136, 0.1);
      border-radius: 20px;
      background-color: rgba(187, 187, 187, 0.15);
      padding: 12px;
      height: 60px;      
      color: rgb(153, 153, 153);
      &:focus{
        border: 1px solid var(--warning-color);
        background-color: rgba(187, 187, 187, 0.15);
        box-shadow: none;
      }
    }
    textarea{
      height: 130px;
    }
    .submit-btn{
      height: 40px;
      border: 1px solid var(--warning-color);
      &:hover{
        background-color: #fff!important;
      }
    }
  }
  .form-title{
    font-size: 156px;
    line-height: 0.7em;
    font-weight: 400;
  }

  .commoncss{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 30px;
  }
  .footer-link-section{
    margin-top: 30px;   
    .info-box{
      .icon{
        width: 30px;
      }
      .footer-link{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          color: var(--warning-color);
        }
      }
    }
  }
  .footer-link{
    color: #fff;
    font-family: var(--font-satoshi);
  }
  .col-md-5{
    > div{
      gap: 73px;
      @media screen and (max-width:575px) {
        gap: 2px;
      }
    }
  }
  .menu-section{
    .list-group-item{
      background-color: transparent;
      border: none;
      &>*{color: #fff;}
      &.title{
        font-size: 14px;
      }
      &:nth-child(n+2){
        a{
          text-decoration: none;
          font-family: var(--font-satoshi);
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

  }

  .social-media-box{
    .media-icon{
      width: 44px;
      height: 44px;
      border: 1px solid rgba(124, 135, 120, 0.39);
      background-color: transparent;
      transition: background-color 0.5s ease; 
      svg{
        width: 25px!Important;
        height: 25px;
        margin: auto;
        transition: transform 0.4s ease;
      }
      &:hover{
        background-color: var(--warning-color);
        svg{
          transform: scale(1.2);
        }
      }
    }
  }
  .newsletter{
    input{
      border: 1px solid rgba(136, 136, 136, 0.1);
      background-color: rgba(187, 187, 187, 0.15);
      padding: 15px;
    }
    button{
      padding: 15px 25px;
    }
  }
}

/* Footer section end */

/* specialities strt */
.specialities{
  .subtitle{
    font-size: 17px;
    max-width: 500px;
    margin-left: auto;
    font-family: var(--font-satoshi);
  }
  .speciality-body{
    .overlay{background:  linear-gradient(243deg,rgba(84,84,84,0) 54.70541257678578%, rgb(0, 0, 0)) 84.420754785216%;}
  }
  .speciality-media{
    bottom: 20px;
    .number{
      font-size: 90px;
    }
    .txt{
      font-size: 20px;
    }
    .disc{
      font-family: var(--font-satoshi);
      border-radius: 20px;
      padding: 10px;
      backdrop-filter: blur(5px);
    }
    &.right-box{
      background-color: #1f1d1d;
      padding: 30px 30px 0;
      @media screen and (min-width:768px) {
        height: 450px;
      }
    }
  }
  .framer-circle{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(8px);
  }
  .varient{
    backdrop-filter: blur(5px);
    width: fit-content;
    .icon{width: 20px;height: 20px;}
    .varient-text{font-family: var(--font-satoshi);}
    &:nth-child(1){
      transform: perspective(1200px) rotate(-28deg);
      position: relative;
      left: -46px;
      top: 39px;
    }
    &:nth-child(2){
      transform: perspective(1200px) rotate(24deg);
      position: relative;
      left: 75px;
      top: 14px;
    }
    &:nth-child(3){
      transform: perspective(1200px) rotate(24deg);
      position: relative;
      left: 0;
      top: -36px;
    }
    &:nth-child(2){
      transform: perspective(1200px) rotate(-28deg);
      position: relative;
      left: 45px;
      top: -28px;
    }
  }
}
/* specialities end */











@media screen and (max-width:991px) {
  .hero-content{
    h1{font-size: 30px;line-height: normal;}
  }
  .form-title, .testimonial .title{
    font-size: 40px!important;
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  section{
    padding-inline: 10px;
    margin-top: 80px;
  }
  .section-title {
    text-align: center;
  }
  .footer-section {
    .form{
      padding-inline: 10px;
    }
  }
  .navbar-nav{
    border-radius: 0!important;
  }
  header .container-fluid {
    padding-inline: 20px;
  }
  .w-75 {
    width: 100%!important;
  }
  .banner-section {
    height: 290px;
    marquee {
      font-size: 60px;
    }
  }
}

@media screen and (min-width:991px) {
  .position-lg-absolute{
    position: absolute;
  }
}

